
.loader {
    background-image: url("/images/load.gif");
    clear: right;
    display: none;
    float: left;
    height: 16px;
    width: 16px;
}
article {
}
.form_error li {
    color: #f60051;
}
.form_confirm li {
    color: #0000ff;
}
.system_message {
    background-color: #eeeeee;
    font-size: 120%;
    font-weight: bold;
}
.pager_wrap {
    height: 40px;
    position: relative;
    width: 100%;
}
.pager {
    display: inline-flex;
    position: absolute;
    top: 10px;
    width: 90%;
}
.pager b {
    margin: 0 2px 0 0;
    text-align: center;
    text-decoration: none;
}
.pager a {
    color: #3666d4;
    text-decoration: none;
}
hr {
    background: none repeat scroll 0 0 #dfdfdf;
    border: medium none;
    display: inline-block;
    height: 5px;
    margin: 5px 0;
    width: 100%;
}
.small-font {
    font-size: 75%;
}
a img {
    border: 0 none;
    text-decoration: none;
}
body {
    background: none repeat scroll 0 0 #ffffff;
    color: #000000;
    font-family: "Trebuchet MS",Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 76%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
#end_content {
    display: block;
    float: left;
    margin-top: 20px;
    text-align: left;
}
#logo_title {
    font-size: 400%;
    font-weight: bolder;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-top: 20px;
}
#toc {
    font-size: 1.2em;
    font-weight: bold;
}
blockquote {
    border-left: 4px solid #000;
    color: #666;
    font-size: 100%;
    margin-left: 0;
    padding: 0 15px;
}
a {
    border-bottom: 1px dotted;
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    color: #666666;
}
h3, h1 {
    display: inline;
    font-size: 150%;
    font-weight: bolder;
    line-height: 1;
}
.headline {
}
.headline a {
    border-bottom: medium none;
    color: #0066cc;
}
pre {
    background-color: #eee;
    border: thin solid #aaa;
    font-family: Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    font-size: 1em;
    line-height: 1.2;
    overflow: auto;
    padding: 10px;
}
p code {
    background-color: #eeeeee;
    border: thin solid #aaaaaa;
    font-family: Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
    font-size: 1em;
    line-height: 1.2;
    overflow: auto;
    padding: 1px;
}
#logo_title pre {
    background-color: #ffffff;
    border: 0 none;
    font-size: 0.8em;
    margin-left: 0;
    overflow: auto;
}
.media_container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.media_container iframe, .media_container object, .media_container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
code {
    font-family: Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
}
img {
    border: medium none;
    max-width: 100%;
}
.media_image {
    border: medium none;
    width: 100%;
}
#page {
    background-color: #ffffff;
    margin: 0 auto;
    min-height: 1000px;
    padding: 10px;
    text-align: left;
}
#content {
    font-size: 1.2em;
    margin-left: 15%;
    margin-top: 0;
    top: 135px;
    width: 75%;
}
#content_module {
    background-color: #fff;
    padding: 0 5px 5px;
}
#header {
    font-size: 1.4em;
    font-weight: bold;
    margin-left: 0;
    padding-top: 30px;
    text-align: left;
    text-decoration: none;
}
#header a {
    border-bottom: medium none;
    padding-top: 40px;
}
.block {
    background-color: #ffffff;
    border: 1px solid #cacaca;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    width: 250px;
}
#sidebar_left {
    background-color: #ffffff;
    float: left;
    list-style-type: none;
    margin-left: 2px;
    position: relative;
    top: 10px;
}
#sidebar_left a {
    border-bottom: medium none;
}
#sidebar_left a.current {
    border-bottom: medium none;
    color: #333333;
}
#sidebar_left h3 {
}
#sidebar_left ul {
    list-style-type: none;
    padding: 0 6px;
}
#sidebar_left li {
    padding-left: 5px;
    padding-right: 15px;
    text-transform: uppercase;
}
#main_menu {
    text-align: left;
}
#main_menu ul {
    background-color: #0066cc;
    padding: 0;
    position: relative;
    top: 0;
}
#main_menu li {
    display: inline;
    font-size: 12px;
    line-height: 35px;
    padding: 0 15px 0 5px;
    text-decoration: none;
}
#main_menu ul li a {
    border-bottom: 0 none;
    color: #ffffff;
    font-size: 125%;
    text-transform: uppercase;
}
#main_menu a.current {
    background-color: #88aaee;
    border-bottom: 0 none;
    color: #ffffff;
    font-size: 125%;
    text-transform: uppercase;
}
html {
}
#module_menu ul {
    background-color: #eeeeee;
    padding: 0;
    position: relative;
    top: 0;
}
#module_menu li {
    display: inline;
}
#footer {
    border-top: 4px none #555555;
    color: #999999;
    font-size: 0.9em;
    padding: 0.5em;
}
fieldset {
    display: table-column;
    max-width: none;
    min-width: 0;
    width: auto;
}
textarea, input {
    max-width: 100%;
}
#logo_img a {
    border: 0 none;
}
#logo_title a {
    border: 0 none;
}
img {
    height: auto;
    max-width: 100%;
}
@media (min-width: 769px) and (max-width: 1024px) {
.ui-dialog {
    max-width: 70%;
}
#page {
    width: 98%;
}
#content {
    font-size: 1.3em;
    width: 80%;
}
#logo_title a {
    font-size: 1.2em;
}
}
@media (min-width: 481px) and (max-width: 768px) {
#sidebar_left {
    display: none;
}
.ui-dialog {
    max-width: 70%;
}
#page {
    width: 98%;
}
#content {
    font-size: 1.3em;
    margin-left: 2px;
    width: 98%;
}
#header {
    margin-left: 2px;
}
#header a {
    font-size: 200%;
}
#logo_title a {
    font-size: 1.2em;
}
img {
    height: auto;
    max-width: 100%;
}
iframe {
    width: 98%;
}
#main_menu a {
    font-size: 150%;
}
}
@media (min-width: 0px) and (max-width: 480px) {
#sidebar_left {
    display: none;
}
#page {
    padding-left: 5%;
    width: 90%;
}
#content {
    font-size: 1.6em;
    margin-left: 2px;
    width: 95%;
}
#header {
    margin-left: 2px;
}
#header a {
    font-size: 200%;
}
#logo_title a {
    font-size: 0.8em;
}
img {
    max-width: 100%;
}
iframe {
    height: auto;
    max-width: 100%;
}
#main_menu a {
    font-size: 120%;
}
}
#system_admin_menu {
    height: 0;
    position: absolute;
    top: 0;
    width: 400px;
}
ul.system_admin_menu_dropdown {
    list-style: outside none none;
    padding: 0;
    position: absolute;
    z-index: 1;
}
ul.system_admin_menu_dropdown li {
    background: none repeat scroll 0 0 #ccc;
    float: left;
    font-weight: bold;
    padding: 4px 8px;
}
ul.system_admin_menu_dropdown a:hover {
    color: #000;
}
ul.system_admin_menu_dropdown a:active {
    color: #ffa500;
}
ul.system_admin_menu_dropdown li a {
    border-right: 1px solid #333;
    color: #222;
    display: block;
    padding: 4px 8px;
}
ul.system_admin_menu_dropdown li:last-child a {
    border-right: medium none;
}
ul.system_admin_menu_dropdown li.hover, ul.system_admin_menu_dropdown li:hover {
    background: none repeat scroll 0 0 #fff;
    color: black;
    position: relative;
}
ul.system_admin_menu_dropdown li.hover a {
    color: black;
}
ul.system_admin_menu_dropdown ul {
    left: -40px;
    list-style: outside none none;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 220px;
}
ul.system_admin_menu_dropdown ul li {
    background: none repeat scroll 0 0 #f6f6f6;
    border-bottom: 1px solid #ccc;
    float: none;
    font-weight: normal;
}
ul.system_admin_menu_dropdown ul li a {
    border-right: medium none;
    display: inline-block;
    width: 100%;
}
ul.system_admin_menu_dropdown ul ul {
    left: 100%;
    top: 0;
}
ul.system_admin_menu_dropdown li:hover > ul {
    visibility: visible;
}

